html,body{
    height: 100%;
    width: 100%;
    color: darkgrey;
}
.navbar{
    padding: .8rem;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.carousel-inner img{
     width: 100%;
    height: 100%;
}
.carousel-caption
{
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow:  1px 1px 15px #000000;
}
.carousel-caption h5 {
    text-size: 200%;
    font-weight: 500;
    font-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
}
.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}
.padding{
    padding-bottom: 2rem;
}
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

.custom-color-1{
    background-color: lightskyblue;
    display: block;
}
.custom-color-2{
    background-color: lightblue;
    display: block;
}
.vertical-row{
    border-right: 2px black;
    height: 100%;
    width: 1px;
}

.election-type {
}

.contestant-picture {
}

.contestant-id {
}

.contestant-name {
}